# In most cases the defaults picked up by config files are fine
# There are just a few we want to specify here
APP_NAME="Photo indexer"
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=

DB_CONNECTION=sqlite
FILESYSTEM_DISK=local

# **** ADJUST ME!!! ****
PHOTO_STORAGE_PATH=/full/path/to/your/photos/folder

